{% extends "index.html" %}

{% block content %}
    <div class="d-flex flex-column align-items-center">
        <h1 class="m-4">Sign Up</h1>
        <form action="" method="post" novalidate>
            {{ form.hidden_tag() }}
            <div class="form-group d-flex flex-column align-items-center">
                <p>
                    {{ form.username.label }}<br>
                    {{ form.username(size=34) }}
                {% for error in form.username.errors %}
                    <br><span class="badge badge-light">{{ error }}</span>
                {% endfor %}
                </p>
                <p>
                    {{ form.email.label }}<br>
                    {{ form.email(size=34) }}
                {% for error in form.email.errors %}
                    <br><span class="badge badge-light">{{ error }}</span>
                {% endfor %}
                </p>
                <p>
                    {{ form.password.label }}<br>
                    {{ form.password(size=34) }}
                {% for error in form.password.errors %}
                    <br><span class="badge badge-light">{{ error }}</span>
                {% endfor %}
                </p>
                <p>
                    {{ form.password2.label }}<br>
                    {{ form.password2(size=34) }}
                {% for error in form.password2.errors %}
                    <br><span class="badge badge-light">{{ error }}</span>
                {% endfor %}
                </p>
                <p>{{ form.submit(class_="btn btn-dark btn-lg") }}</p>
            </div>
        </form>
        <p>Have an account? <a href="{{ url_for('login') }}">Click to Sign In!</a></p>
    </div>
{% endblock %}